@using MjauriziaSims.Models
@model Domain.Entities.Preference

@{
    ViewBag.Title = "Admin : Edit preference";
    ViewBag.TabId = "admin-preferences";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel">
    <div class="panel-heading">
        <h3>Edit goal @Model.Title</h3>
    </div>

    @using (Html.BeginForm())
    {
        <div class="panel-body">
            <div class="form-group">
                @Html.HiddenFor(m => m.PreferenceId)

                <label>Code :</label>
                @Html.TextBox("Code", Model.Title, new { @class = "form-control" })

                <label>Title :</label>
                @Html.TextBox("Title", Model.Title, new { @class = "form-control" })

                <label>Category :</label>
                @Html.TextBox("Category", Model.Category, new { @class = "form-control" })

                <label>Age :</label>
                @Html.DropDownList("MinAge", AdminViewModel.GetAgeSelectItems())
            </div>
        </div>

        <div class="panel-footer">
            <input type="submit" value="Save" class="btn btn-primary"/>
        </div>
    }
</div>
