@using Domain.Entities
@using MjauriziaSims.Models;
@model RandomizerViewModel
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewBag.Title = @Localizer["goalHeader"];
    ViewBag.TabId = "nav-goals";
}

<div class="randomizer-page">
    <div class="row justify-content-md-center">
        <div class="col-sm-3 center-block text-center selected-option-box">
            <i class="bi-question-square-fill text-dark"></i>
            <img src="" width="80px" height="80px" class="rounded border border-dark hidden" title=""/></br>
            <p class="selected-option-text">???</p>
            <a href="#" class="btn btn-light randomize-button" onclick="showRandomizedValue()">@Localizer["Randomize"]</a>
        </div>
    </div>
    <div class="filter mt-3 d-flex justify-content-center">
        @foreach (var category in Model.GetPacksForFilter())
        {
            @foreach (var pack in category.Value.OrderBy(p => p.Code))
            {
                <a href="#" class="text-reset text-decoration-none filter-option filter-option--enabled filter-@pack.PackId"
                        onclick="filterByPack('@pack.PackId')" title="@Model.MsgManager.Msg(pack.Title)">
                    <i class="bi-circle-fill hidden"></i>
                    <img src="/Images/Packs/@(pack.Code).webp" width="35px" height="35px"/>
                </a>
            }
            <p class="me-2"></p>
        }
    </div>

    <div class="row mt-2">
        <div class="col-sm-1 center-block text-center">
            <a href="#" class="text-reset text-decoration-none choice-option-switch choice-option-switch--enabled">
                <i class="bi-x-square-fill text-dark choice-option-switch__i--enabled"></i>
                <i class="bi-check-square-fill text-dark choice-option-switch__i--disabled hidden"></i>
            </a>
            <p class="m-0 choice-option-switch__text--enabled">@Localizer["DisableAll"]</p>
            <p class="m-0 choice-option-switch__text--disabled hidden">@Localizer["EnableAll"]</p>
        </div>

        @foreach (var goal in Model.Goals.OrderBy(g => Model.MsgManager.Msg(g.Title)))
        {
            <div class="col-sm-1 center-block text-center">
                <a href="#" class="text-reset text-decoration-none choice-option choice-option--enabled pack-@goal.Pack">
                    <i class="bi-x-square-fill hidden"></i>
                    <img src="/Images/Goals/@(goal.Code).png" 
                        width="60px" height="60px"
                        class="rounded border border-dark"
                        title="@Model.MsgManager.Msg(goal.Title)"/>
                </a>
                <p class="m-0">@Model.MsgManager.Msg(goal.Title)</p>
            </div>
        }
    </div>
</div>