@using Domain.Entities
@using MjauriziaSims.Models;
@model RandomizerViewModel
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewBag.Title = @Localizer["Title"];
    ViewBag.TabId = "nav-preferences";
    ViewBag.Description = @Localizer["Description"];
}

<div class="randomizer-page">
    <div class="row justify-content-md-center">
        <div class="col-sm-3 center-block text-center selected-option-box">
            <i class="bi-question-square-fill text-dark"></i>
            <img src="" width="80px" height="80px" class="rounded border border-dark hidden" title=""/></br>
            <p class="selected-option-text">???</p>
            <a href="#" class="btn btn-light randomize-button" onclick="showRandomizedValue()">@Localizer["Randomize"]</a>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-sm-1 center-block text-center">
            <a href="#" class="text-reset text-decoration-none choice-option-switch choice-option-switch--enabled">
                <i class="bi-x-square-fill text-dark choice-option-switch__i--enabled"></i>
                <i class="bi-check-square-fill text-dark choice-option-switch__i--disabled hidden"></i>
            </a>
            <p class="m-0 choice-option-switch__text--enabled">@Localizer["DisableAll"]</p>
            <p class="m-0 choice-option-switch__text--disabled hidden">@Localizer["EnableAll"]</p>
        </div>

        @foreach (var preference in Model.Preferences.OrderBy(p => Model.MsgManager.Msg(p.Title)))
        {
            <div class="col-sm-1 center-block text-center">
                <a href="#" class="text-reset text-decoration-none choice-option choice-option--enabled pack-@preference.Pack">
                    <i class="bi-x-square-fill hidden" style="font-size:3.8rem; color:darkgray"></i>
                    <img src="/Images/Preferences/@(preference.Code).png"
                        width="60px" height="60px"
                        class="rounded border border-dark"
                        title="@Model.MsgManager.Msg(preference.Title)" />
                </a>
                <p class="m-0">@Model.MsgManager.Msg(preference.Title)</p>
            </div>
        }
    </div>
</div>