@using Domain.Entities
@using WebUI.Models;
@model FamilyCreationModel
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewBag.Title = @Localizer["CreateHeader"];
    ViewBag.TabId = "nav-families";
}

<div class="m-3">
    <h3>@Localizer["CreateHeader"]</h3>

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(m => m.Family.FamilyId)
        @Html.HiddenFor(m => m.Family.UserId)
        @Html.HiddenFor(m => m.Family.Generation)

        <div class="row">
            <div class="col-sm-12">
                <div class="p-1">@Localizer["Surname"] :</div>
                @Html.TextBox("Family.Surname", null, new { @class = "form-control" })
            </div>
        </div>

        <div class="row justify-content-md-center mt-3">
            <div class="col col-auto">
                <input type="submit" value="@Localizer["Save"]" class="btn btn-light" />
            </div>
        </div>
    }
</div>
