@using Domain.Entities
@using WebUI.Models;
@model FamiliesViewModel
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewBag.Title = @Localizer["FamiliesHeader"];
    ViewBag.TabId = "nav-families";
}

<div class="row justify-content-md-center mt-3">
    @if (User.Identity.IsAuthenticated)
    {
        <div class="col-sm-9">
        </div>
        <div class="col-sm-3 ps-5 mb-1">
            @Localizer["myFamilies"] :
            <input type="checkbox" checked="@Model.MyFamilies" id="myFamiliesCheckbox"
               link="/family/index?user=@(Model.MyFamilies ? "/Family/Index" : User.FindFirst("UserId").Value)">
        </div>

        <div class="col col-auto">
            <a href="/Family/Create/" class="btn btn-light">@Localizer["Create"]</a>
        </div>
    }
</div>

<div class="row p-3">
    @foreach (var family in Model.FamiliesWithUsers)
    {
        <div class="col-sm-3 p-2">
            <div class="p-3 border rounded bg-white">
                <div class="row">
                    <div class="col-sm-10">
                        <a class="text-reset text-decoration-none" href="/Family/@family.Family.FamilyId">
                            <h3>@family.Family.Surname</h3>
                        </a>
                    </div>
                    <div class="col-sm-2">
                        @if (Model.EditRules[family.Family.FamilyId])
                        {
                            <a href="/Family/Edit/@family.Family.FamilyId" class="text-reset"
                               title="@Localizer["Edit"]">
                                <i class="bi-pencil-square" style="font-size: 1rem; color: black;"></i>
                            </a>
                        }
                    </div>
                    <div class="col-sm-7">
                        <a href="?user=@family.Family.UserId" class="text-reset text-decoration-none">@@@family.User</a>
                    </div>
                    
                    <div class="col-sm-12 mt-3">
                        <a href="?user=@family.Family.UserId" class="text-reset text-decoration-none">
                            @Localizer["Generation"]: @family.Family.Generation
                        </a>
                    </div>
                    
                    <div class="row justify-content-md-center mt-3">
                        <div class="col col-auto">
                            <a href="/Family/@family.Family.FamilyId" class="btn btn-light">
                                @if (Model.EditRules[family.Family.FamilyId])
                                {
                                    <span>@Localizer["Edit"]</span>
                                }
                                else
                                {
                                    <span>@Localizer["View"]</span>
                                }
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>