@using WebUI.Models
@using Domain.Entities
@model FamilyViewModel

@{
    ViewBag.Title = Model.Family.Family.Surname + " Family";
    ViewBag.TabId = "nav-families";
}


<div class="row m-3">
    <div class="col-sm-10 mb-4">
        <h1>
            @Model.Family.Family.Surname Family
            @if (Model.CanEdit && Model.Characters.Any(c => c.Family == Model.Family.Family.FamilyId && c.InLow))
            {
                <a href="/Character/GiveBirth/@Model.Family.Family.FamilyId" title="New baby" class="text-decoration-none text-reset">
                    <i class="bi-plus-circle-fill" style="font-size:1.7rem;"></i>
                </a>
            }
        </h1>
        <a href="/Family/Index?user=@Model.Family.Family.UserId" class="text-reset text-decoration-none">@@@Model.Family.User</a>
    </div>
    <div class="col-sm-2 p-1 mb-3">
        <p class="text-end">
            <a href="#" onclick="setRemovedCharactersVisibility()" title="Show/Hide Removed Characters" class="text-decoration-none me-4">
                <i id="RemovedCharactersToggle" class="bi-toggle-off" style="font-size: 1.5rem; color: black;"></i>
            </a>
        </p>
    </div>

@for (int i = Model.Family.Family.Generation; i > 0; i--)
{
    <div class="row">
        @foreach (var character in Model.Characters
                                    .OrderBy(c => !c.InFamily)
                                    .ThenBy(c => !c.IsHeir)
                                    .ThenBy(c => !c.InLow))
        {
            if (i == character.Generation)
            {
                <div class="col-sm-3 p-2 @(character.InFamily ? "in-family" : "removed-character hidden" ) ">
                    <div class="p-3 bg-white border rounded border-@Model.getCardColor(character) text-@(character.InFamily ? "dark" : "secondary")">
                        <div class="row">
                            <div class="col-sm-6">
                                <h5 class="text-@Model.getCardColor(character)">
                                    @character.Name
                                </h5>
                            </div>
                            @if (character.InFamily && Model.CanEdit)
                            {
                                <div class="col-sm-2">
                                    @if (Model.CanGetMarried(character))
                                    {
                                        <a href="/Character/GetMarried/@character.Family" class="text-reset" title="Get married">
                                            <i class="bi-balloon-heart" style="font-size: 1rem; color: black;"></i>
                                        </a>
                                    }
                                    @if (Model.CanBecomeHeir(character))
                                    {
                                        <a href="/Character/MakeHeir/@character.CharacterId" class="text-reset" title="Make heir">
                                            <i class="bi-check2" style="font-size: 1rem; color: black;"></i>
                                        </a>
                                    }
                                </div>
                                
                                <div class="col-sm-2">
                                    @if (character.Age < Ages.Old)
                                    {
                                            <a href="/Character/MakeOlder/@character.CharacterId" class="text-reset" title="Grown up">
                                                <i class="bi-arrow-up" style="font-size: 1rem; color: black;"></i>
                                            </a>
                                        }
                                </div>

                                <div class="col-sm-2">
                                    <a href="/Character/KickOut/@character.CharacterId" class="text-reset" title="Out of family">
                                        <i class="bi-x-lg" style="font-size: 1rem; color: black;"></i>
                                    </a>
                                </div>
                            }
                        </div>


                        <p>Gen @character.Generation</p>

                        <div class="row">
                            <div class="col-sm-4">
                                <h6>@character.Age.ToString()</h6>
                            </div>
                            <div class="col-sm-8">
                                @if (@character.Glasses)
                                {
                                    <h6 class="m-0">Wear glasses</h6>
                                }
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-sm-4">
                                @foreach (var goal in Model.Goals)
                                {
                                    if (goal.GoalId == character.Goal)
                                    {
                                        <img    src="/Images/Goals/@(goal.Title).png" 
                                                width="50px" height="50px" class="rounded" 
                                                title="@goal.Title" />
                                        <p class="m-0">@goal.Title</p>
                                    }
                                }

                                @if (character.Gender == 0 || character.Generation > 5)
                                {
                                    @foreach (var career in Model.Careers)
                                    {
                                        if (career.CareerId == character.Career)
                                        {
                                            <p class="m-0">@career.Title</p>
                                        }
                                    }
                                }
                            </div>
                        
                            <div class="col-sm-8">
                                @if (character.Sexuality != null && character.Sexuality >= 0)
                                {
                                    <p class="m-0">@character.Sexuality.ToString()</p>
                                }
                                @if (character.Chronotype != null && character.Chronotype >= 0)
                                {
                                    <p class="m-0">@character.Chronotype.ToString()</p>
                                }
                            </div>
                        </div>

                        <div class="row">

                            @foreach (var preference in Model.Preferences.OrderBy(p => p.Category))
                            {
                                if (preference.PreferenceId == character.Color
                                    || preference.PreferenceId == character.Music
                                    || preference.PreferenceId == character.Hobby
                                    || preference.PreferenceId == character.Decor
                                    || preference.PreferenceId == character.Clothes)
                                {
                                    <div class="col-sm-2">
                                        <img src="/Images/Preferences/@(preference.Title).png" 
                                            width="40px" height="40px" class="rounded" 
                                            title="@preference.Title" />
                                    </div>
                                }
                            }

                        </div>

                    </div>
                </div>
            }
        }
    </div>
}
</div>