@using MjauriziaSims.Models
@using Domain.Entities
@model MjauriziaSims.Models.FamilyViewModel
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewBag.Title = Model.Family.Family.Surname;
    ViewBag.TabId = "nav-families";
}


<div class="row m-3">
    <div class="col-sm-10 mb-4">
        <h1>
            @ViewBag.Title
            @if (Model.CanEdit)
            {
                <a href="/Character/Create/@Model.Family.Family.FamilyId" 
                   title="@Localizer["Create"]" class="text-decoration-none text-reset">
                    <i class="bi-plus-circle-fill" style="font-size:1.7rem;"></i>
                </a>
            }
        </h1>
        <a href="/Family/Index?user=@Model.Family.Family.UserId" class="text-reset text-decoration-none">@@@Model.Family.User</a>
    </div>
    <div class="col-sm-2 p-1 mb-3">
        <p class="text-end">
            <a href="#" onclick="setRemovedCharactersVisibility()" title="@Localizer["ToggleText"]" class="text-decoration-none me-4">
                <i id="RemovedCharactersToggle" class="bi-toggle-off" style="font-size: 1.5rem; color: black;"></i>
            </a>
        </p>
    </div>

@for (int i = Model.Family.Family.Generation; i > 0; i--)
{
    <div class="row">
            @foreach (var character in Model.Characters.OrderBy(c => !c.InFamily).ThenBy(c => c.CharacterId))
        {
            if (i == character.Generation)
            {
                <div class="col-sm-3 p-2 @(character.InFamily ? "in-family" : "removed-character hidden" ) ">
                    <div class="p-3 bg-white border rounded 
                                border-@Model.getCardColor(character) 
                                text-@(character.InFamily ? "dark" : "secondary")">
                        <div class="row">
                            <div class="col-sm-6">
                                @if (Model.CanEdit)
                                {
                                    <h5><a class="text-decoration-none text-@Model.getCardColor(character)"
                                           href="/Character/Edit/@character.CharacterId">
                                        @character.Name
                                    </a></h5>
                                }
                                else
                                {
                                    <h5 class ="text-@Model.getCardColor(character)">@character.Name</h5>
                                }
                            </div>
                            @if (character.InFamily && Model.CanEdit)
                            {
                                <div class="col-sm-2">
                                    @if (Model.CanGetMarried(character))
                                    {
                                        <a href="/Character/GetMarried/@character.CharacterId" class="text-reset" 
                                           title="@Localizer["GetMarried"]">
                                            <i class="bi-balloon-heart" style="font-size: 1rem; color: black;"></i>
                                        </a>
                                    }
                                </div>
                                
                                <div class="col-sm-2">
                                    @if (character.Age < Ages.Old)
                                    {
                                        <a href="/Character/MakeOlder/@character.CharacterId" class="text-reset" title="@Localizer["GrownUp"]">
                                            <i class="bi-arrow-up" style="font-size: 1rem; color: black;"></i>
                                        </a>
                                    }
                                </div>

                                <div class="col-sm-2">
                                    <a href="/Character/KickOut/@character.CharacterId" class="text-reset" title="@Localizer["Out"]">
                                        <i class="bi-x-lg" style="font-size: 1rem; color: black;"></i>
                                    </a>
                                </div>
                            }
                        </div>
                        
                        <p>@Localizer["Generation"] @character.Generation</p>

                        <div class="row">
                            <div class="col-sm-4">
                                <h6>@Model.MsgManager.Msg("age_" + character.Age.ToString())</h6>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-sm-6">
                                @foreach (var goal in Model.Goals)
                                {
                                    if (goal.GoalId == character.Goal)
                                    {
                                        <img    src="/Images/Goals/@(goal.Code).png" 
                                                width="50px" height="50px" class="rounded" 
                                                title="@Model.MsgManager.Msg(goal.Title)" />
                                            <p>@Model.MsgManager.Msg(goal.Title)</p>
                                    }
                                }

                            </div>
                        
                            <div class="col-sm-6">
                                
                                @foreach (var career in Model.Careers)
                                {
                                    if (career.CareerId == character.Career)
                                    {
                                        <img src="/Images/Careers/@(career.Code).png"
                                             width="50px" height="50px" class="rounded"
                                             title="@Model.MsgManager.Msg(career.Title)" />
                                            <p>@Model.MsgManager.Msg(career.Title)</p>
                                    }
                                }
                            </div>

                        </div>

                            <div class="row mb-2">
                                <div class="col-sm-6">
                                    @if (character.Chronotype != null && character.Chronotype >= 0)
                                    {
                                        <p class="m-0">@Model.MsgManager.Msg("chronotype_" + character.Chronotype.ToString())</p>
                                    }
                                </div>
                                
                                <div class="col-sm-6">
                                    @if (@character.Glasses)
                                    {
                                        <p class="m-0">@Localizer["glasses"]</p>
                                    }
                                </div>
                            </div>

                        <div class="row">

                        </div>

                    </div>
                </div>
            }
        }
    </div>
}
</div>