@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewBag.Title = Localizer["header"];
}

<div class="m-3">
    <h3>@Localizer["header"]</h3>

    @using (Html.BeginForm("ChangePassword", "Account", new { }, (FormMethod)1, false, new { id = "changePassForm" }))
    {
        <div id="successMsg" class="form-text hidden text-success">@Localizer["successMsg"]</div>
        <div id="errMsg" class="form-text hidden text-danger"></div>

        <div class="row" id="newPassword">
            <div class="col-sm-6">
                <div class="p-1">@Localizer["OldPassword"]:</div>
                @Html.Password("OldPassword", null, new { @class = "form-control" , id="oldPassword"})
                <div id="oldPasswordHelp" class="form-text hidden text-danger">@Localizer["passwordHelp"]</div>
            </div>
            <div class="col-sm-6">
            </div>
            <div class="col-sm-6 mt-3">
                <div class="p-1">@Localizer["Password"]:</div>
                @Html.Password("Password", null, new { @class = "form-control" , id="password"})
                <div id="passwordHelp" class="form-text hidden text-danger">@Localizer["passwordHelp"]</div>
                <div id="passwordConformationHelp" class="form-text hidden text-danger">@Localizer["passwordConformationHelp"]</div>
            </div>
            <div class="col-sm-6">
            </div>
            <div class="col-sm-6">
                <div class="p-1">@Localizer["ConfirmPassword"]:</div>
                @Html.Password("ConfirmPassword", null, new { @class = "form-control" , id="confirmPassword"})
            </div>
            <div class="col-sm-6">
            </div>

            <div class="row mt-3">
                <div class="col col-auto">
                    <input type="submit" value="@Localizer["Save"]" class="btn btn-light" id="resetPassBtn" />
                </div>
            </div>
        </div>
    }
</div>
