@using Domain.Entities
@using WebUI.Models;

@model MjauriziaSims.Models.RegisterModel

@{
    ViewBag.Title = "Registration";
}

<div class="m-3">
    <h3>New account registration</h3>

    @using (Html.BeginForm("Registration", "Account", new { }, (FormMethod)1, false, new { id = "registrationForm" }))
    {
        @Html.HiddenFor(m => m.Role)
        <div class="row">
            <div id="errMsg" class="form-text hidden text-danger"></div>
            <div id="successMsg" class="form-text hidden text-success">
                Registration is completed successfully. Please, check your email to confirm your account.
            </div>
            <div class="col-sm-6">
                <div class="p-1">Login :</div>
                @Html.TextBox("Login", null, new { @class = "form-control", @id="login" })
                <div id="loginHelp" class="form-text hidden text-danger">Please, fill login field</div>
            </div>
            <div class="col-sm-6">
            </div>
            <div class="col-sm-6">
                <div class="p-1">Email :</div>
                @Html.TextBox("Email", null, new { @class = "form-control", @id="email" })
                <div id="emailHelp" class="form-text hidden text-danger">Please, set correct email</div>
            </div>
            <div class="col-sm-6">
            </div>
            <div class="col-sm-6">
                <div class="p-1">Password :</div>
                @Html.Password("Password", null, new { @class = "form-control", id="password" })
                <div id="passwordHelp" class="form-text hidden text-danger">Please, fill password field</div>
                <div id="passwordConformationHelp" class="form-text hidden text-danger">Passwords do not match</div>
            </div>
            <div class="col-sm-6">
            </div>
            <div class="col-sm-6">
                <div class="p-1">Confirm password :</div>
                @Html.Password("ConfirmPassword", null, new { @class = "form-control" , id="confirmPassword"})
            </div>
        </div>


        <div class="row mt-3">
            <div class="col col-auto">
                <input type="submit" value="Save" class="btn btn-light" id="registrationBtn"/>
            </div>
        </div>
    }
</div>
