@using Domain.Entities
@using WebUI.Models
@model WebUI.Models.CharacterViewModel
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewBag.Title = Model.Character.IsHeir || Model.Character.InLow ? Localizer["newMember"] : Localizer["NewBaby"];
    ViewBag.TabId = "nav-families";
}

<div class="mt-3">
    <div class="panel-heading">
        <h3>@ViewBag.Title</h3>
    </div>

    @using (Html.BeginForm())
    {
        <div class="row">
            @Html.HiddenFor(m => m.Character.Family)
            @Html.HiddenFor(m => m.Character.Generation)
            @Html.HiddenFor(m => m.Character.IsHeir)
            @Html.HiddenFor(m => m.Character.InLow)
            
            <div class="col-sm-6">
                <div class="p-1">@Localizer["Name"] :</div>
                @Html.TextBox("Character.Name", null, new { @class = "form-control" })
            </div>
            <div class="col-sm-6">
                <div class="p-1">@Localizer["Gender"] :</div>
                <div class="row">
                    <div class="col-sm-11">
                        <select asp-for="Character.Gender" asp-items="Model.GetGenderSelectItems()" class="form-select"></select>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>

            @if (Model.Character.IsHeir || Model.Character.InLow)
            {
                <div class="col-sm-6">
                    <div class="p-1">@Localizer["Age"] :</div>
                    <div class="row">
                        <div class="col-sm-11">
                            <select asp-for="Character.Age" asp-items="Model.GetAgeSelectItems()" class="form-select"></select>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                </div>
                
                <div class="col-sm-6">
                    <div class="p-1">@Localizer["Chronotype"] :</div>
                    <div class="row">
                        <div class="col-sm-11">
                            <select asp-for="Character.Chronotype" asp-items="Model.GetChronotypeSelectItems()" 
                                id="chronotypeSelect" class="form-select"></select>
                        </div>
                        <div class="col-sm-1">
                            <a href="#" onclick="setRandomChronotype()" title="Randomize">
                                <i class="bi-dice-6" style="font-size: 1.5rem; color: black;"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="p-1">@Localizer["Goal"] :</div>
                    <div class="row">
                        <div class="col-sm-11">
                            <select asp-for="Character.Goal" asp-items="Model.GetSelectCategory()" id="goalSelect" class="form-select"></select>
                        </div>
                        <div class="col-sm-1">
                            <a href="#" onclick="setRandomSelection('goalSelect')" title="Randomize">
                                <i class="bi-dice-6" style="font-size: 1.5rem; color: black;"></i>
                            </a>
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-6">
                    <div class="p-1">@Localizer["Career"] :</div>
                    <div class="row">
                        <div class="col-sm-11">
                            <select asp-for="Character.Career" asp-items="Model.GetSelectCareer()" id="careerSelect" class="form-select"></select>
                        </div>
                        <div class="col-sm-1">
                            <a href="#" onclick="setRandomSelection('careerSelect')" title="Randomize">
                                <i class="bi-dice-6" style="font-size: 1.5rem; color: black;"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="p-1">@Localizer["Color"] :</div>
                    <div class="row">
                        <div class="col-sm-11">
                            <select asp-for="Character.Color" asp-items="Model.GetSelectPreferences(0)" id="colorSelect" class="form-select"></select>
                        </div>
                        <div class="col-sm-1">
                            <a href="#" onclick="setRandomSelection('colorSelect')" title="Randomize">
                                <i class="bi-dice-6" style="font-size: 1.5rem; color: black;"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="p-1">@Localizer["Music"] :</div>
                    <div class="row">
                        <div class="col-sm-11">
                            <select asp-for="Character.Music" asp-items="Model.GetSelectPreferences(1)" id="musicSelect" class="form-select"></select>
                        </div>
                        <div class="col-sm-1">
                            <a href="#" onclick="setRandomSelection('musicSelect')" title="Randomize">
                                <i class="bi-dice-6" style="font-size: 1.5rem; color: black;"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="p-1">@Localizer["Hobby"] :</div>
                    <div class="row">
                        <div class="col-sm-11">
                            <select asp-for="Character.Hobby" asp-items="Model.GetSelectPreferences(2)" id="hobbySelect" class="form-select"></select>
                        </div>
                        <div class="col-sm-1">
                            <a href="#" onclick="setRandomSelection('hobbySelect')" title="Randomize">
                                <i class="bi-dice-6" style="font-size: 1.5rem; color: black;"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="p-1">@Localizer["Design"] :</div>
                    <div class="row">
                        <div class="col-sm-11">
                            <select asp-for="Character.Decor" asp-items="Model.GetSelectPreferences(3)" id="decorSelect" class="form-select"></select>
                        </div>
                        <div class="col-sm-1">
                            <a href="#" onclick="setRandomSelection('decorSelect')" title="Randomize">
                                <i class="bi-dice-6" style="font-size: 1.5rem; color: black;"></i>
                            </a>
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-6">
                    <div class="p-1">@Localizer["Clothes"] :</div>
                    <div class="row">
                        <div class="col-sm-11">
                            <select asp-for="Character.Clothes" asp-items="Model.GetSelectPreferences(4)" id="clothesSelect" class="form-select"></select>
                        </div>
                        <div class="col-sm-1">
                            <a href="#" onclick="setRandomSelection('clothesSelect')" title="Randomize">
                                <i class="bi-dice-6" style="font-size: 1.5rem; color: black;"></i>
                            </a>
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-6 mt-2">
                    <div class="p-1">
                        @Localizer["glasses"] :
                        @Html.CheckBox("Character.Glasses")
                    </div>
                </div>
            }
            else
            {
                <div class="col-sm-6">
                </div>

                <div class="col-sm-6">
                    <div class="p-1">
                        @Localizer["IsAdopted"] :
                        @Html.CheckBox("Character.IsAdopted")
                    </div>
                </div>
            }
            <div class="col-sm-6">
                <div class="p-1">
                    @Localizer["IsAlien"] :
                    @Html.CheckBox("Character.IsAlien")
                </div>
            </div>
        </div>

        <div class="row justify-content-md-center mt-3">
            <div class="col col-auto">
                <input type="submit" value="@Localizer["Save"]" class="btn btn-light" />
            </div>
        </div>
    }
</div>
