@using Domain.Entities
@using MjauriziaSims.Models
@model MjauriziaSims.Models.CharacterViewModel
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewBag.Title = Localizer["header"];
    ViewBag.TabId = "nav-families";
}

<div class="mt-3">
    <div class="panel-heading">
        <h3>@ViewBag.Title</h3>
    </div>

    @using (Html.BeginForm())
    {
        <div class="row">
            @Html.HiddenFor(m => m.Character.CharacterId)
            @Html.HiddenFor(m => m.Character.Family)
            @Html.HiddenFor(m => m.Character.InFamily)
            @Html.HiddenFor(m => m.Character.Generation)
            
            <div class="col-sm-6">
                <div class="p-1">@Localizer["Name"] :</div>
                @Html.TextBox("Character.Name", null, new { @class = "form-control" })
            </div>
        
            <div class="col-sm-6">
                <div class="p-1">@Localizer["Age"] :</div>
                <div class="row">
                    <div class="col-sm-11">
                        <select asp-for="Character.Age" 
                            asp-items="Model.GetAgeSelectItems(true)" 
                            class="form-select"
                            id="ageSelect">
                        </select>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
            
            <div class="col-sm-6 min-age-young">
                <div class="p-1">@Localizer["Partner"] :</div>
                <div class="row">
                    <div class="col-sm-11">
                        <select asp-for="Character.Partner" 
                            asp-items="Model.GetPartnerSelectItems()" 
                            class="form-select">
                        </select>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>

            <div class="col-sm-6 min-age-child">
                <div class="p-1">@Localizer["Chronotype"] :</div>
                <div class="row">
                    <div class="col-sm-11">
                        <select asp-for="Character.Chronotype" 
                            asp-items="Model.GetChronotypeSelectItems()"
                            class="form-select"
                            id="chronotypeSelect">
                        </select>
                    </div>
                    <div class="col-sm-1">
                        <a href="#" onclick="setRandomChronotype()" title="Randomize">
                            <i class="bi-dice-6" style="font-size: 1.5rem; color: black;"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 min-age-child">
                <div class="p-1">@Localizer["Goal"] :</div>
                <div class="row">
                    <div class="col-sm-11">
                        <select asp-for="Character.Goal" 
                            asp-items="Model.GetSelectGoals()" 
                            class="form-select"
                            id="goalSelect"
                            data="@Model.GetGoalsJSON()">
                        </select>
                    </div>
                    <div class="col-sm-1">
                        <a href="#" onclick="setRandomSelection('goalSelect')" title="Randomize">
                            <i class="bi-dice-6" style="font-size: 1.5rem; color: black;"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 min-age-young">
                <div class="p-1">@Localizer["Career"] :</div>
                <div class="row">
                    <div class="col-sm-11">
                        <select asp-for="Character.Career" 
                            asp-items="Model.GetSelectCareer()"
                            class="form-select"
                            id="careerSelect" >
                        </select>
                    </div>
                    <div class="col-sm-1">
                        <a href="#" onclick="setRandomSelection('careerSelect')" title="Randomize">
                            <i class="bi-dice-6" style="font-size: 1.5rem; color: black;"></i>
                        </a>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-6 min-age-toddler">
                <div class="pt-2">
                    @Localizer["glasses"] :
                    @Html.CheckBox("Character.Glasses")
                </div>
            </div>
        </div>

        <div class="hidden">
            <select asp-for="Character.Likes"
                asp-items="Model.GetSelectPreferences()"
                name="Character.Likes"
                id="likesSelect">
            </select>
            <select asp-for="Character.Dislikes"
                asp-items="Model.GetSelectPreferences()"
                name="Character.Dislikes"
                id="dislikesSelect">
            </select>
        </div>

        <p class="fs-3 pt-3">@Localizer["Preferences"]</p>
        @foreach (var category in (PreferenceCategories[])Enum.GetValues(typeof(PreferenceCategories)))
        {
            <div class="row min-age-@Model.GetMinAgeForPreferenceCategory(category)">
                <hr class="block-divider">
                <div class="col-sm-3 fs-5">
                    <a href="#" onclick="setBlockVisibility('@category')" title="@Localizer["Show"]"
                            class="text-decoration-none" id="blockShow-@category">
                        <i class="bi-caret-down-fill" style="font-size: 1.5rem; color: black;"></i>
                    </a>
                    <a href="#" onclick="setBlockVisibility('@category')" title="@Localizer["Hide"]"
                            class="text-decoration-none hidden" id="blockHide-@category">
                        <i class="bi-caret-up-fill" style="font-size: 1.5rem; color: black;"></i>
                    </a>
                    @Localizer[category.ToString()]
                    <a href="#" onclick="setRandomBlockValue('@category')" title="Randomize">
                        <i class="bi-dice-6" style="font-size: 1.5rem; color: black;"></i>
                    </a>
                </div>
                <div class="col-sm-9 mt-1 mb-1">
                    <div class="d-flex flex-row-reverse">
                        <div id="blockLikes-@category" class="ms-1"></div>
                        <div id="blockDislikes-@category"></div>
                    </div>
                </div>
                <hr class="block-divider">
                <div class="row preference-block hidden" id="@category">
                    @foreach (var preference in Model.Preferences.Where(p => p.Category == category).ToList())
                    {
                        <div class="col-sm-1 center-block text-center">
                            <div>
                                <i class="bi-x-square-fill hidden" style="font-size:3.8rem; color:darkgray"></i>
                                <img src="/Images/Preferences/@(preference.Code).png"
                                     width="60px" height="60px" style="margin-top:22px; margin-bottom:9px"
                                     class="rounded border border-dark" 
                                     id="preference-@preference.PreferenceId"
                                     title="@Model.MsgManager.Msg(preference.Title)" />
                            </div>
                            <div>
                                <a href="#" onclick="setLike('@preference.PreferenceId')" title="@Localizer["Like"]"
                                        class="text-decoration-none preference-like-icon" id="like-@preference.PreferenceId">
                                    <i class="bi-hand-thumbs-up-fill"></i>
                                </a>
                                <a href="#" onclick="setDislike('@preference.PreferenceId')" title="@Localizer["Dislike"]"
                                        class="text-decoration-none preference-dislike-icon" id="dislike-@preference.PreferenceId">
                                    <i class="bi-hand-thumbs-down-fill"></i>
                                </a>
                            </div>
                            <p class="m-0">@Model.MsgManager.Msg(preference.Title)</p>
                        </div>
                    }
                </div>
            </div>
        }

        <div class="row justify-content-md-center mt-3">
            <div class="col col-auto">
                <input type="submit" value="@Localizer["Save"]" class="btn btn-light" />
            </div>
        </div>
    }
</div>
